.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.5fr 0.8fr;
  grid-template-areas:
    "nav nav"
    "title rightPanel"
    "paragraph rightPanel"
    "button rightPanel";

  background: #ffffff;

  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  color: #000000;
}

.navigation {
  background: rgba(234, 226, 226, 0.3);
  grid-area: nav;
}

.rightPanel {
  background: rgba(138, 80, 184, 0.8);
  grid-area: rightPanel;
}

.title {
  grid-area: title;
}

.paragraph {
  grid-area: paragraph;
}

.p {
  position: absolute;
  width: 482px;
  height: 205px;
  left: 12%;
  /* left: 240px; */
  top: 35%;

  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  /* or 154% */

  text-align: center;
  text-transform: uppercase;

  color: #000000;
}

.footer {
  grid-area: button;
}

.h1 {
  position: absolute;
  width: 557px;
  height: 150px;
  left: 10.8%;
  top: 9.5%;

  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 131px;
  text-align: center;
  text-transform: uppercase;

  color: #000000;
}

.button {
  position: absolute;
  width: 196px;
  height: 62px;
  left: 19.5%;
  top: 80%;

  background: #8c30f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: cornsilk;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  font-feature-settings: "liga" off;

  color: #ffffff;
}

.image {
  position: absolute;
  width: 600px;
  height: 700px;
  left: 61%;
  top: 21%;
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.5fr 0.8fr;
    grid-template:
      "nav"
      "title"
      "paragraph"
      "button"
      "rightPanel";
  }
  .image {
    width: 200px;
    height: 300px;
  }
}
